<!--
<div class="bar bar-header bar-stable bar-title">
    <p class="bar-status"></p>
</div>
-->

<div class="bar bar-subheader">
  <h2 class="title">Sub Header</h2>
</div>

<ion-view class="bgMain" title="'新刊ジャケ買い！'" left-buttons="leftButtons" right-buttons="rightButtons">
    <ion-content has-header="true">
        <div>
            <div class="pad-sides" masonry="{columnWidth: 0, gutter: 0, transitionDuration: '.5s',
                        hiddenStyle: {opacity: .001, transform: 'scale(0.01)'},
                        visibleStyle: {opacity: 1, transform: 'scale(1)'}}">
                <div class="masonry-brick" ng-repeat="item in items track by $index">
                    <img ng-src="{{ item.image }}" alt="{{ item.title }}" ng-click="onclick(item.url)">
                </div>
            </div>
            <button class="button button-block button-positive button-more" ng-click="more()">もっと見る</button>
        </div>
    </ion-content>
</ion-view>
